<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztel.app.persist.mybatis.sq.IndustrialscorelineVoMapper" >
  <resultMap id="BaseResultMap" type="com.ztel.app.vo.sq.IndustrialscorelineVo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ITEMID" property="itemid" jdbcType="DECIMAL" />
    <result column="WEIGHT" property="weight" jdbcType="DECIMAL" />
    <result column="FID" property="fid" jdbcType="DECIMAL" />
    <result column="SCORE" property="score" jdbcType="DECIMAL" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ITEMID, WEIGHT, FID, SCORE, REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_SQ_INDUSTRIALSCORELINE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_SQ_INDUSTRIALSCORELINE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ztel.app.vo.sq.IndustrialscorelineVo" >
    insert into T_SQ_INDUSTRIALSCORELINE (ID, ITEMID, WEIGHT, 
      FID, SCORE, REMARKS
      )
    values (#{id,jdbcType=DECIMAL}, #{itemid,jdbcType=DECIMAL}, #{weight,jdbcType=DECIMAL}, 
      #{fid,jdbcType=DECIMAL}, #{score,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ztel.app.vo.sq.IndustrialscorelineVo" >
    insert into T_SQ_INDUSTRIALSCORELINE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="itemid != null" >
        ITEMID,
      </if>
      <if test="weight != null" >
        WEIGHT,
      </if>
      <if test="fid != null" >
        FID,
      </if>
      <if test="score != null" >
        SCORE,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="itemid != null" >
        #{itemid,jdbcType=DECIMAL},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=DECIMAL},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztel.app.vo.sq.IndustrialscorelineVo" >
    update T_SQ_INDUSTRIALSCORELINE
    <set >
      <if test="itemid != null" >
        ITEMID = #{itemid,jdbcType=DECIMAL},
      </if>
      <if test="weight != null" >
        WEIGHT = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="fid != null" >
        FID = #{fid,jdbcType=DECIMAL},
      </if>
      <if test="score != null" >
        SCORE = #{score,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztel.app.vo.sq.IndustrialscorelineVo" >
    update T_SQ_INDUSTRIALSCORELINE
    set ITEMID = #{itemid,jdbcType=DECIMAL},
      WEIGHT = #{weight,jdbcType=DECIMAL},
      FID = #{fid,jdbcType=DECIMAL},
      SCORE = #{score,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>