<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztel.app.persist.mybatis.sq.RouteScorelineVoMapper" >
  <resultMap id="BaseResultMap" type="com.ztel.app.vo.sq.RouteScorelineVo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="EVALITEMID" property="evalitemid" jdbcType="DECIMAL" />
    <result column="ASSESSWEIGHT" property="assessweight" jdbcType="DECIMAL" />
    <result column="FID" property="fid" jdbcType="DECIMAL" />
    <result column="ACTUALSCORE" property="actualscore" jdbcType="DECIMAL" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, EVALITEMID, ASSESSWEIGHT, FID, ACTUALSCORE, REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_SQ_ROUTE_SCORELINE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_SQ_ROUTE_SCORELINE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ztel.app.vo.sq.RouteScorelineVo" >
    insert into T_SQ_ROUTE_SCORELINE (ID, EVALITEMID, ASSESSWEIGHT, 
      FID, ACTUALSCORE, REMARKS
      )
    values (#{id,jdbcType=DECIMAL}, #{evalitemid,jdbcType=DECIMAL}, #{assessweight,jdbcType=DECIMAL}, 
      #{fid,jdbcType=DECIMAL}, #{actualscore,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ztel.app.vo.sq.RouteScorelineVo" >
    insert into T_SQ_ROUTE_SCORELINE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="evalitemid != null" >
        EVALITEMID,
      </if>
      <if test="assessweight != null" >
        ASSESSWEIGHT,
      </if>
      <if test="fid != null" >
        FID,
      </if>
      <if test="actualscore != null" >
        ACTUALSCORE,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="evalitemid != null" >
        #{evalitemid,jdbcType=DECIMAL},
      </if>
      <if test="assessweight != null" >
        #{assessweight,jdbcType=DECIMAL},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=DECIMAL},
      </if>
      <if test="actualscore != null" >
        #{actualscore,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztel.app.vo.sq.RouteScorelineVo" >
    update T_SQ_ROUTE_SCORELINE
    <set >
      <if test="evalitemid != null" >
        EVALITEMID = #{evalitemid,jdbcType=DECIMAL},
      </if>
      <if test="assessweight != null" >
        ASSESSWEIGHT = #{assessweight,jdbcType=DECIMAL},
      </if>
      <if test="fid != null" >
        FID = #{fid,jdbcType=DECIMAL},
      </if>
      <if test="actualscore != null" >
        ACTUALSCORE = #{actualscore,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztel.app.vo.sq.RouteScorelineVo" >
    update T_SQ_ROUTE_SCORELINE
    set EVALITEMID = #{evalitemid,jdbcType=DECIMAL},
      ASSESSWEIGHT = #{assessweight,jdbcType=DECIMAL},
      FID = #{fid,jdbcType=DECIMAL},
      ACTUALSCORE = #{actualscore,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>