<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztel.app.persist.mybatis.sq.ComplainttypeVoMapper" >
  <resultMap id="BaseResultMap" type="com.ztel.app.vo.sq.ComplainttypeVo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="CTYPE" property="ctype" jdbcType="VARCHAR" />
    <result column="TYPENAME" property="typename" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="VARCHAR" />
    <result column="DELSTATUS" property="delstatus" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CONTENT, CTYPE, TYPENAME, FLAG, DELSTATUS, REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_SQ_COMPLAINTTYPE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from T_SQ_COMPLAINTTYPE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ztel.app.vo.sq.ComplainttypeVo" >
    insert into T_SQ_COMPLAINTTYPE (ID, CONTENT, CTYPE, 
      TYPENAME, FLAG, DELSTATUS, 
      REMARKS)
    values (#{id,jdbcType=DECIMAL}, #{content,jdbcType=VARCHAR}, #{ctype,jdbcType=VARCHAR}, 
      #{typename,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, #{delstatus,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ztel.app.vo.sq.ComplainttypeVo" >
    insert into T_SQ_COMPLAINTTYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="ctype != null" >
        CTYPE,
      </if>
      <if test="typename != null" >
        TYPENAME,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="delstatus != null" >
        DELSTATUS,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="delstatus != null" >
        #{delstatus,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztel.app.vo.sq.ComplainttypeVo" >
    update T_SQ_COMPLAINTTYPE
    <set >
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        CTYPE = #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        TYPENAME = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        FLAG = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="delstatus != null" >
        DELSTATUS = #{delstatus,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztel.app.vo.sq.ComplainttypeVo" >
    update T_SQ_COMPLAINTTYPE
    set CONTENT = #{content,jdbcType=VARCHAR},
      CTYPE = #{ctype,jdbcType=VARCHAR},
      TYPENAME = #{typename,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=VARCHAR},
      DELSTATUS = #{delstatus,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>