<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztel.app.persist.mybatis.sq.RouteScoresummaryVoMapper" >
  <resultMap id="BaseResultMap" type="com.ztel.app.vo.sq.RouteScoresummaryVo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CUSTID" property="custid" jdbcType="DECIMAL" />
    <result column="ROUTECODE" property="routecode" jdbcType="VARCHAR" />
    <result column="CREATEID" property="createid" jdbcType="DECIMAL" />
    <result column="ROUTESCORE" property="routescore" jdbcType="DECIMAL" />
    <result column="DSCORE" property="dscore" jdbcType="DECIMAL" />
    <result column="CSCORE" property="cscore" jdbcType="DECIMAL" />
    <result column="SOURCEID" property="sourceid" jdbcType="DECIMAL" />
    <result column="SCORINGTIME" property="scoringtime" jdbcType="TIMESTAMP" />
    <result column="PLANID" property="planid" jdbcType="DECIMAL" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="DRIVERID" property="driverid" jdbcType="DECIMAL" />
    <result column="CASHIERID" property="cashierid" jdbcType="DECIMAL" />
    <result column="COMPANYCORE" property="companycore" jdbcType="DECIMAL" />
    <result column="RECORD" property="record" jdbcType="VARCHAR" />
    <result column="CUSTSUM" property="custsum" jdbcType="VARCHAR" />
    <result column="SCORETIME" property="scoretime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CUSTID, ROUTECODE, CREATEID, ROUTESCORE, DSCORE, CSCORE, SOURCEID, SCORINGTIME, 
    PLANID, REMARKS, DRIVERID, CASHIERID, COMPANYCORE, RECORD
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_SQ_ROUTE_SCORESUMMARY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="getRouteScoresummaryPageList" resultMap="BaseResultMap" parameterType="Pagination" >
select routecode,to_char(scoringtime,'yyyymm')as scoringtime，count(custid)as custid
from t_sq_route_scoresummary where sourceid='4' 

 <if test="param != null and param.routescore != null and param.routescore != ''" >
        and routecode like'%'||#{param.routescore}||'%'
        </if>
  <if test="param != null and param.scoringtime != null and param.scoringtime != ''" >
        and to_char(scoringtime,'yyyymm') = #{param.scoringtime}
        </if> 
      group by routecode, to_char(scoringtime,'yyyymm') 
      having count(custid)>0
        order by routecode desc
  </select>
    <select id="getRouteScoresummarysPageList" resultMap="BaseResultMap" parameterType="Pagination" >
select  a.routecode,decode(b.custsum,'','暂无考核',b.custsum) as custsum,decode(scoretime, '', '暂无考核',scoretime) as scoretime from t_sys_routeinfo a left outer join 
(select routecode,count(custid)as custsum,to_char(c.scoringtime,'yyyymm')as scoretime from t_sq_route_scoresummary c 
where c.sourceid=4 
  <if test="param != null and param.scoringtime != null and param.scoringtime != ''" >
        and to_char(c.scoringtime,'yyyymm')  = #{param.scoringtime}
        </if> 
group by routecode,to_char(c.scoringtime,'yyyymm'))b
on a.routecode=b.routecode 
<where>
   <if test="param != null and param.routescore != null and param.routescore != ''" >
        and a.routecode like'%'||#{param.routescore}||'%'
        </if>

</where>
 
        order by a.routecode desc
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_SQ_ROUTE_SCORESUMMARY
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ztel.app.vo.sq.RouteScoresummaryVo" >
    insert into T_SQ_ROUTE_SCORESUMMARY (ID, CUSTID, ROUTECODE, 
      CREATEID, ROUTESCORE, DSCORE, 
      CSCORE, SOURCEID, SCORINGTIME, 
      PLANID, REMARKS, DRIVERID, 
      CASHIERID, COMPANYCORE, RECORD
      )
    values (#{id,jdbcType=DECIMAL}, #{custid,jdbcType=DECIMAL}, #{routecode,jdbcType=VARCHAR}, 
      #{createid,jdbcType=DECIMAL}, #{routescore,jdbcType=DECIMAL}, #{dscore,jdbcType=DECIMAL}, 
      #{cscore,jdbcType=DECIMAL}, #{sourceid,jdbcType=DECIMAL}, #{scoringtime,jdbcType=TIMESTAMP}, 
      #{planid,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, #{driverid,jdbcType=DECIMAL}, 
      #{cashierid,jdbcType=DECIMAL}, #{companycore,jdbcType=DECIMAL}, #{record,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ztel.app.vo.sq.RouteScoresummaryVo" >
    insert into T_SQ_ROUTE_SCORESUMMARY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="custid != null" >
        CUSTID,
      </if>
      <if test="routecode != null" >
        ROUTECODE,
      </if>
      <if test="createid != null" >
        CREATEID,
      </if>
      <if test="routescore != null" >
        ROUTESCORE,
      </if>
      <if test="dscore != null" >
        DSCORE,
      </if>
      <if test="cscore != null" >
        CSCORE,
      </if>
      <if test="sourceid != null" >
        SOURCEID,
      </if>
      <if test="scoringtime != null" >
        SCORINGTIME,
      </if>
      <if test="planid != null" >
        PLANID,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="driverid != null" >
        DRIVERID,
      </if>
      <if test="cashierid != null" >
        CASHIERID,
      </if>
      <if test="companycore != null" >
        COMPANYCORE,
      </if>
      <if test="record != null" >
        RECORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="custid != null" >
        #{custid,jdbcType=DECIMAL},
      </if>
      <if test="routecode != null" >
        #{routecode,jdbcType=VARCHAR},
      </if>
      <if test="createid != null" >
        #{createid,jdbcType=DECIMAL},
      </if>
      <if test="routescore != null" >
        #{routescore,jdbcType=DECIMAL},
      </if>
      <if test="dscore != null" >
        #{dscore,jdbcType=DECIMAL},
      </if>
      <if test="cscore != null" >
        #{cscore,jdbcType=DECIMAL},
      </if>
      <if test="sourceid != null" >
        #{sourceid,jdbcType=DECIMAL},
      </if>
      <if test="scoringtime != null" >
        #{scoringtime,jdbcType=TIMESTAMP},
      </if>
      <if test="planid != null" >
        #{planid,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="driverid != null" >
        #{driverid,jdbcType=DECIMAL},
      </if>
      <if test="cashierid != null" >
        #{cashierid,jdbcType=DECIMAL},
      </if>
      <if test="companycore != null" >
        #{companycore,jdbcType=DECIMAL},
      </if>
      <if test="record != null" >
        #{record,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztel.app.vo.sq.RouteScoresummaryVo" >
    update T_SQ_ROUTE_SCORESUMMARY
    <set >
      <if test="custid != null" >
        CUSTID = #{custid,jdbcType=DECIMAL},
      </if>
      <if test="routecode != null" >
        ROUTECODE = #{routecode,jdbcType=VARCHAR},
      </if>
      <if test="createid != null" >
        CREATEID = #{createid,jdbcType=DECIMAL},
      </if>
      <if test="routescore != null" >
        ROUTESCORE = #{routescore,jdbcType=DECIMAL},
      </if>
      <if test="dscore != null" >
        DSCORE = #{dscore,jdbcType=DECIMAL},
      </if>
      <if test="cscore != null" >
        CSCORE = #{cscore,jdbcType=DECIMAL},
      </if>
      <if test="sourceid != null" >
        SOURCEID = #{sourceid,jdbcType=DECIMAL},
      </if>
      <if test="scoringtime != null" >
        SCORINGTIME = #{scoringtime,jdbcType=TIMESTAMP},
      </if>
      <if test="planid != null" >
        PLANID = #{planid,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="driverid != null" >
        DRIVERID = #{driverid,jdbcType=DECIMAL},
      </if>
      <if test="cashierid != null" >
        CASHIERID = #{cashierid,jdbcType=DECIMAL},
      </if>
      <if test="companycore != null" >
        COMPANYCORE = #{companycore,jdbcType=DECIMAL},
      </if>
      <if test="record != null" >
        RECORD = #{record,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztel.app.vo.sq.RouteScoresummaryVo" >
    update T_SQ_ROUTE_SCORESUMMARY
    set CUSTID = #{custid,jdbcType=DECIMAL},
      ROUTECODE = #{routecode,jdbcType=VARCHAR},
      CREATEID = #{createid,jdbcType=DECIMAL},
      ROUTESCORE = #{routescore,jdbcType=DECIMAL},
      DSCORE = #{dscore,jdbcType=DECIMAL},
      CSCORE = #{cscore,jdbcType=DECIMAL},
      SOURCEID = #{sourceid,jdbcType=DECIMAL},
      SCORINGTIME = #{scoringtime,jdbcType=TIMESTAMP},
      PLANID = #{planid,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      DRIVERID = #{driverid,jdbcType=DECIMAL},
      CASHIERID = #{cashierid,jdbcType=DECIMAL},
      COMPANYCORE = #{companycore,jdbcType=DECIMAL},
      RECORD = #{record,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>