<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztel.app.persist.mybatis.wms.CigarettedamagedLineVoMapper" >
  <resultMap id="BaseResultMap" type="com.ztel.app.vo.wms.CigarettedamagedLineVo" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="INBOUNDID" property="inboundid" jdbcType="DECIMAL" />
    <result column="INBOUNDDETAILID" property="inbounddetailid" jdbcType="DECIMAL" />
    <result column="CIGARETTENAME" property="cigarettename" jdbcType="OTHER" />
    <result column="CIGARETTECODE" property="cigarettecode" jdbcType="VARCHAR" />
    <result column="BOXQTY" property="boxqty" jdbcType="DECIMAL" />
    <result column="DAMAGEDQTY" property="damagedqty" jdbcType="DECIMAL" />
    <result column="BARCODE" property="barcode" jdbcType="VARCHAR" />
    <result column="ACTUALQTY" property="actualqty" jdbcType="DECIMAL" />
  </resultMap>
  
    <!-- 根据输入条件获取列表 -->
  <select id="selectListByCond" resultType="com.ztel.app.vo.wms.CigarettedamagedLineVo" parameterType="com.ztel.app.vo.wms.CigarettedamagedLineVo" >
    select 
    ID, INBOUNDID, INBOUNDDETAILID, 
      CIGARETTENAME, CIGARETTECODE, BOXQTY, 
      DAMAGEDQTY,BARCODE ,ACTUALQTY 
      from T_WMS_CIGARETTEDAMAGED_LINE 
    where 1=1
    <if test="inboundid != null ">
        AND  INBOUNDID = #{inboundid,jdbcType=DECIMAL}
    </if>
    order by id desc
  </select>
  
  <delete id="deleteByInboundid" parameterType="java.math.BigDecimal">
    delete from T_WMS_CIGARETTEDAMAGED_LINE
    where INBOUNDID = #{inboundid,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insert" parameterType="com.ztel.app.vo.wms.CigarettedamagedLineVo" >
    insert into T_WMS_CIGARETTEDAMAGED_LINE (ID, INBOUNDID, INBOUNDDETAILID, 
      CIGARETTENAME, CIGARETTECODE, BOXQTY, 
      DAMAGEDQTY,BARCODE )
    values (#{id,jdbcType=DECIMAL}, #{inboundid,jdbcType=DECIMAL}, #{inbounddetailid,jdbcType=DECIMAL}, 
      #{cigarettename,jdbcType=OTHER}, #{cigarettecode,jdbcType=VARCHAR}, #{boxqty,jdbcType=DECIMAL}, 
      #{damagedqty,jdbcType=DECIMAL}, #{barcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="false"  parameterType="com.ztel.app.vo.wms.CigarettedamagedLineVo" >
    insert into T_WMS_CIGARETTEDAMAGED_LINE
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,
      <if test="inboundid != null" >
        INBOUNDID,
      </if>
      <if test="inbounddetailid != null" >
        INBOUNDDETAILID,
      </if>
      <if test="cigarettename != null" >
        CIGARETTENAME,
      </if>
      <if test="cigarettecode != null" >
        CIGARETTECODE,
      </if>
      <if test="boxqty != null" >
        BOXQTY,
      </if>
      <if test="damagedqty != null" >
        DAMAGEDQTY,
      </if>
      <if test="barcode != null" >
        BARCODE,
      </if>
      <if test="actualqty != null" >
        ACTUALQTY,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        S_WMS_CIGARETTEDAMAGED.nextval,
      <if test="inboundid != null" >
        #{inboundid,jdbcType=DECIMAL},
      </if>
      <if test="inbounddetailid != null" >
        #{inbounddetailid,jdbcType=DECIMAL},
      </if>
      <if test="cigarettename != null" >
        #{cigarettename,jdbcType=OTHER},
      </if>
      <if test="cigarettecode != null" >
        #{cigarettecode,jdbcType=VARCHAR},
      </if>
      <if test="boxqty != null" >
        #{boxqty,jdbcType=DECIMAL},
      </if>
      <if test="damagedqty != null" >
        #{damagedqty,jdbcType=DECIMAL},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="actualqty != null" >
        #{actualqty,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>