<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztel.app.persist.mybatis.account.DistributionModeVoMapper">
  <resultMap id="BaseResultMap" type="com.ztel.app.vo.account.DistributionModeVo">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="C_NAME" jdbcType="VARCHAR" property="cName" />
    <result column="C_VALUE" jdbcType="DECIMAL" property="cValue" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, C_NAME, C_VALUE, STATUS
  </sql>
  <select id="getDIstributionModes" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_ACCOUNT_DISTRIBUTIONMODE order by id
  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_ACCOUNT_DISTRIBUTIONMODE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from T_ACCOUNT_DISTRIBUTIONMODE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ztel.app.vo.account.DistributionModeVo">
    insert into T_ACCOUNT_DISTRIBUTIONMODE (ID, C_NAME, C_VALUE, 
      STATUS)
    values (#{id,jdbcType=DECIMAL}, #{cName,jdbcType=VARCHAR}, #{cValue,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ztel.app.vo.account.DistributionModeVo">
    insert into T_ACCOUNT_DISTRIBUTIONMODE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="cName != null">
        C_NAME,
      </if>
      <if test="cValue != null">
        C_VALUE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="cName != null">
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cValue != null">
        #{cValue,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztel.app.vo.account.DistributionModeVo">
    update T_ACCOUNT_DISTRIBUTIONMODE
    <set>
      <if test="cName != null">
        C_NAME = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cValue != null">
        C_VALUE = #{cValue,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztel.app.vo.account.DistributionModeVo">
    update T_ACCOUNT_DISTRIBUTIONMODE
    set C_NAME = #{cName,jdbcType=VARCHAR},
      C_VALUE = #{cValue,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateAllModeDisable" >
    update T_ACCOUNT_DISTRIBUTIONMODE set STATUS = '0'
  </update>
</mapper>