<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<!-- <property name="dialect" value="mysql" /> -->
		<property name="dialect" value="oracle" />
		<property name="pageSqlId" value=".*PageList$" />
	</properties>
	<settings>
	    <setting name="logImpl" value="LOG4J2" />
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="autoMappingBehavior" value="FULL" />
		<!-- <setting name="enhancementEnabled" value="false"/> -->
		<setting name="defaultExecutorType" value="SIMPLE" />
		<!--<setting name="defaultStatementTimeout" value="25000"/> -->
		<setting name="safeRowBoundsEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="localCacheScope" value="SESSION" />
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
	</settings>
	<!--默认使用类名作为别名-->
	<typeAliases>
		<package name="com.ztel.app.vo"/>
	</typeAliases>
    <plugins>
        <plugin interceptor="com.ztel.framework.persist.mybatis.PaginationInterceptor" />
    </plugins>

    
</configuration>
