<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztel.app.persist.mybatis.sys.AttachVoMapper" >
  <resultMap id="BaseResultMap" type="com.ztel.app.vo.sys.AttachVo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="FID" property="fid" jdbcType="DECIMAL" />
    <result column="ATTACHNAME" property="attachname" jdbcType="VARCHAR" />
    <result column="ATTACHADDR" property="attachaddr" jdbcType="VARCHAR" />
    <result column="CTYPE" property="ctype" jdbcType="VARCHAR" />
    <result column="TYPECODE" property="typecode" jdbcType="VARCHAR" />
    <result column="DELSTATUS" property="delstatus" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FID, ATTACHNAME, ATTACHADDR, CTYPE, TYPECODE, DELSTATUS, REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_SYS_ATTACH
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_SYS_ATTACH
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ztel.app.vo.sys.AttachVo" >
    insert into T_SYS_ATTACH (ID, FID, ATTACHNAME, 
      ATTACHADDR, CTYPE, TYPECODE, 
      DELSTATUS, REMARKS)
    values (#{id,jdbcType=DECIMAL}, #{fid,jdbcType=DECIMAL}, #{attachname,jdbcType=VARCHAR}, 
      #{attachaddr,jdbcType=VARCHAR}, #{ctype,jdbcType=VARCHAR}, #{typecode,jdbcType=VARCHAR}, 
      #{delstatus,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ztel.app.vo.sys.AttachVo" >
    insert into T_SYS_ATTACH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="fid != null" >
        FID,
      </if>
      <if test="attachname != null" >
        ATTACHNAME,
      </if>
      <if test="attachaddr != null" >
        ATTACHADDR,
      </if>
      <if test="ctype != null" >
        CTYPE,
      </if>
      <if test="typecode != null" >
        TYPECODE,
      </if>
      <if test="delstatus != null" >
        DELSTATUS,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=DECIMAL},
      </if>
      <if test="attachname != null" >
        #{attachname,jdbcType=VARCHAR},
      </if>
      <if test="attachaddr != null" >
        #{attachaddr,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="typecode != null" >
        #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="delstatus != null" >
        #{delstatus,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztel.app.vo.sys.AttachVo" >
    update T_SYS_ATTACH
    <set >
      <if test="fid != null" >
        FID = #{fid,jdbcType=DECIMAL},
      </if>
      <if test="attachname != null" >
        ATTACHNAME = #{attachname,jdbcType=VARCHAR},
      </if>
      <if test="attachaddr != null" >
        ATTACHADDR = #{attachaddr,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        CTYPE = #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="typecode != null" >
        TYPECODE = #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="delstatus != null" >
        DELSTATUS = #{delstatus,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztel.app.vo.sys.AttachVo" >
    update T_SYS_ATTACH
    set FID = #{fid,jdbcType=DECIMAL},
      ATTACHNAME = #{attachname,jdbcType=VARCHAR},
      ATTACHADDR = #{attachaddr,jdbcType=VARCHAR},
      CTYPE = #{ctype,jdbcType=VARCHAR},
      TYPECODE = #{typecode,jdbcType=VARCHAR},
      DELSTATUS = #{delstatus,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>