<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ztel.app.persist.mybatis.sys.InterfaceMenurelativeVoMapper" >
  <resultMap id="BaseResultMap" type="com.ztel.app.vo.sys.InterfaceMenurelativeVo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="MENUID" property="menuid" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USERID, MENUID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_SYS_INTERFACE_MENURELATIVE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_SYS_INTERFACE_MENURELATIVE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ztel.app.vo.sys.InterfaceMenurelativeVo" >
    insert into T_SYS_INTERFACE_MENURELATIVE (ID, USERID, MENUID
      )
    values (#{id,jdbcType=DECIMAL}, #{userid,jdbcType=DECIMAL}, #{menuid,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ztel.app.vo.sys.InterfaceMenurelativeVo" >
    insert into T_SYS_INTERFACE_MENURELATIVE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="menuid != null" >
        MENUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=DECIMAL},
      </if>
      <if test="menuid != null" >
        #{menuid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztel.app.vo.sys.InterfaceMenurelativeVo" >
    update T_SYS_INTERFACE_MENURELATIVE
    <set >
      <if test="userid != null" >
        USERID = #{userid,jdbcType=DECIMAL},
      </if>
      <if test="menuid != null" >
        MENUID = #{menuid,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztel.app.vo.sys.InterfaceMenurelativeVo" >
    update T_SYS_INTERFACE_MENURELATIVE
    set USERID = #{userid,jdbcType=DECIMAL},
      MENUID = #{menuid,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>